@import url('https://fonts.googleapis.com/css?family=Kurale|Roboto|Roboto+Slab');

/*font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'Kurale', serif;*/

body {

	font-family: 'Roboto', sans-serif;
}

.logo {
	margin-top: -10px;
}

.float-right {
	float: right;
}