<header>
	<nav class="navbar navbar-default" role="navigation">
	    <div class="container">
	      <div class="navbar-header">
	        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar_collapse">
	          <span class="sr-only">Toggle navigation</span>
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	        </button>
	        <a class="navbar-brand" href="/"><img src="/images/logo/logo_small.png" class="img-responsive logo" alt="Лизинг-Трейд" align="center"></a>
	      </div> <!-- navbar-header -->
	      <div class="collapse navbar-collapse" id="navbar_collapse">
	        <ul class="nav navbar-nav navbar-right">
	          <li><a href="/"><i class="fa fa-home"></i> Главная</a></li>
	          <li class="dropdown">
	          	<a href="#" class="dropdown-toggle" data-toggle="dropdown">Админ панель<span class="caret"></span></a>
	          	<ul class="dropdown-menu">
	          		<li class="dropdown-header">Контакты</li>
						<li><a href="/admin/addperson">Добавление сотрудника</a></li>
						<li class="dropdown-header">Статьи</li>
						<li><a href="/admin/addmenu">Редактирование меню</a></li>
						<li><a href="/admin/addarticle">Добавление статьи</a></li>
				</ul>
	          </li>
	        </ul>
	      </div><!-- collapse navbar-collapse -->
	    </div><!-- container -->
  	</nav>
</header>